%h1 All images

.row
	%ul.list-unstyled
		-@images.each do |image|
			%li.col-md-4
				%a{href: "/images/edit/#{image.id}"}
					=image.title
					%br
					tags: 
					-image.tags.each do |tag|
						=tag.name
				%a{href: image.file, data: {lightbox: "gallery", title: image.title}}
					%img{src: image.file.url(:small), width: "50%"}
	
-if @auth
	%h1 Upload New Image

	%form(action="/images" method="post" enctype="multipart/form-data")
		%p
			%input(type="hidden" name="image_tags" id="image_tags" value = "astro,city")
		%p
			%input(type="file" name="image[file]" id="file")
		%p
			%input(type="text" name="image[title]" class="form-control" placeholder="enter a title for the image")
		%p
			%h3 Tag me
		%div{:id => "tags-local"}
		:javascript
			var tagsLocal = jSuites.tags(document.getElementById('tags-local'), {
				search: #{@list},
				placeholder: 'None'
			});
			var writeTags = function (){
				document.getElementById("image_tags").value = tagsLocal.getValue();
				return;
			};
		%br
		%p
			%input{:type => "submit", :value => "Upload", :onclick => 'writeTags()'}