%h1 Chosen image
%a{href: "/images/edit/#{@image.id}"}
	Edit 
	| 

%a{href: "/images/delete/#{@image.id}", onclick: "return confirm('Are you sure?')"}
	Delete
%br
=@image.title
| tags: 
-@image.tags.each do |tag|
	=tag.name
%br
=@image.description
%a{href: @image.file, data: {lightbox: "gallery", title: @image.title}}
	%img{src: @image.file.url(:small), width: "50%"}
